################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex
