# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/JMF Web Forum API/.vs/JMF Web Forum API/DesignTimeBuild/.dtbcache.v2
/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex/11b48ebd-1dca-42b2-a302-417681a4646d.vsidx
/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex/3d44cf14-d3e3-4bf9-8bb0-4c02fa379088.vsidx
/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex/64407c4e-1026-4ad9-8abd-a200172314fa.vsidx
/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex/f3371da4-6c8b-422d-aba6-d9ef2c2241c8.vsidx
/JMF Web Forum API/.vs/JMF Web Forum API/FileContentIndex/25f70b95-07c3-45cc-97e6-b6902e06dc6a.vsidx
/JMF Web Forum API/.vs/JMF Web Forum API/config/applicationhost.config
/JMF Web Forum API/.vs/JMF Web Forum API/v17/.suo
/JMF Web Forum API/.vs/JMF Web Forum API/v17/DocumentLayout.json
/JMF Web Forum API/JMF Web Forum API/obj/Debug/net8.0/ref/JMF Web Forum API.dll
/JMF Web Forum API/JMF Web Forum API/obj/Debug/net8.0/refint/JMF Web Forum API.dll
