<div class="register-container">
    <h2>Register</h2>
    <form (submit)="register()">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="registerData.username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="registerData.password" name="password" required>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required>
      <button type="submit">Register</button>
    </form>
  </div>
  
